{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Health Information System</h1>
    <p class="lead">Manage disease outbreaks and healthcare personnel information efficiently.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="{{ url_for('manage_users') }}" role="button">Manage Users</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('manage_doctors') }}" role="button">Manage Doctors</a>
</div>
{% endblock %}
